
[submodule "docs/SDSoC-Tutorials"]
	path = docs/SDSoC-Tutorials
	url = https://github.com/Xilinx/SDSoC-Tutorials
[submodule "docs/SDAccel-Tutorials"]
	path = docs/SDAccel-Tutorials
	url = https://github.com/Xilinx/SDAccel-Tutorials
[submodule "docs/Edge-AI-Platform-Tutorials"]
	path = docs/Edge-AI-Platform-Tutorials
	url = https://github.com/Xilinx/Edge-AI-Platform-Tutorials
